<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Edit Section')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">
		<h1>Edit Section</h1>
		<br/>
		<form action="#" th:action="@{'/section/save?orgId=' + ${orgId} + '&schoolId=' + ${schoolId} + '&gradeId=' + ${gradeId}} " th:object="${section}" method="post">
			<table>
				<tr>
					<td>Section ID:</td>
					<td><input type="text" th:field="*{sectionId}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Section Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>