<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Edit School')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">
		<h1>Edit School</h1>
		<br/>
		<form action="#" th:action="@{'/school/save?orgId=' + ${orgId}}" th:object="${school}" method="post">
			<table>
				<tr>
					<td>School ID:</td>
					<td><input type="text" th:field="*{schoolId}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>School Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>County:</td>
					<td><input type="text" th:field="*{county}" /></td>
				</tr>				
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>