<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head(pageTitle='Edit Attendance')" />
<body>
	<div th:replace="fragments :: header"></div>
	<div align="center">
		<h1>Edit Attendance</h1>
		<br/>
		<form action="#" th:action="@{'/attendance/save?orgId=' + ${orgId} + '&schoolId=' + ${schoolId} + '&gradeId=' + ${gradeId} + '&amp;sectionId=' + ${sectionId}} + '&studentId=' + ${studentId}" th:object="${attendance}" method="post">
			<table>
				<tr>
					<td>Attendance ID:</td>
					<td><input type="text" th:field="*{attendanceId}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Attendance Status:</td>
					<td><input type="text" th:field="*{attendanceStatus}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit" class="btn btn-primary">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>